/* Profile.css */

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    /* background: #fff; */
    
  }

  .profiles{
    background: bisque;
    padding: 10vh;
    width: 400px;
    height: 450px;
    border: 1px solid bisque;
    border-radius: 15%;
    box-shadow: 10px 10px 30px rgba(255, 253, 253, 0.897);

  }
  
  .profile_avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* margin-bottom: 20px; */
}

.profile_info {
    text-align: center;
    color: aliceblue;
}

.profile_info{
    color: aliceblue;
}

.profile_info .username {
    font-weight: bold;
    font-size: 18px;
}

.profile_info .email {
    color: aliceblue;
    font-size: 14px;
    
}

.avatar{
    background: #555;
    border: 1px solid #fff;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 11px;
  }
  

.container{
    border: 1px solid royalblue;
    padding: 20px;
    width: 40%;
}

.infos{
    background: rosybrown;
    margin: 10px;
    /* gap: 50px; */
}

input{
    margin: 5px;
    padding: 10px;
    gap: 20px;

}

.parent{
    /* padding: 40px; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* background: rebeccapurple; */
}

.title{
font-size: 1.5em;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #01b31b;
}